<%- include('../sharing/head', { pageTitle: 'Failure'}) %>
<link rel="stylesheet" href="/styles/order.css">
</head>
<%- include('../sharing/header') %>
<body>
    <main>
        <h1>Order failed</h1>
        <p>Please connect with the shop owner!</p>
    </main>

<%- include('../sharing/footer') %>
    
