<%- include('../sharing/head', { pageTitle: 'Products'}) %>
<link rel="stylesheet" href="/styles/products.css">

</head>
<%- include('../sharing/header') %>

<style>
    h1{
        margin: 5rem auto;
        text-align: center;
    }
</style>
<body>
    <main>
     <h1> Welcome to the Dress Shop!</h1>
    </main>

<%- include('../sharing/footer') %>
    
