<%- include('../../sharing/head', { pageTitle: 'All Orders'}) %>
<link rel="stylesheet" href="/styles/order.css">
<script src="/scripts/order-management.js" defer></script>

</head>
<%- include('../../sharing/header') %>


<body>
    <main>
        <%- include('order-list') %>


    </main>

<%- include('../../sharing/footer') %>